@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.learningModule {
    &__header {
        text-align: center;
    }

    &__title {
        margin: 25px 10px;
        color: $morning-sky;
        font-weight: 600;
        font-size: 1.5em;
    }

    &__subHeader{
        @include subheader;
        min-height: 42px;
        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }
  
    &__answerArea {
        background-color: white;
        box-shadow: 0px 0px 20px -15px;
        padding: 0px 0px 20px 0;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        
        @media only screen and (max-width: $tablet) {
            border-radius: unset;
        }

        @media only screen and (max-width: $mobile) {
            background-color: unset;
            box-shadow: unset;
        }

    }

    &__selections{ 
        padding: 30px 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;

        @media only screen and (max-width: $tablet) {
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: row;
        }
    }

    &__submitButtonContainer {
        height: 50px;
        > * {
            float: right;
            @media only screen and (max-width: $mobile) {
                float: unset;
                margin: 10px;
            }
        }
    }
}
